*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav {
    height: 67px;
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    user-select:none;
    cursor:pointer;
}

nav a:hover {
    color: #fff;
}

nav {
    background-color: red;
}

