*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav {
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

nav > div {
    display:flex;
    width:1200px;
    justify-content: space-between;
    align-items: center;
}

nav > div > div {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 0 1.5rem;
    user-select:none;
    cursor:pointer;
}

nav a:hover {
    color: #fff;
}

nav {
    background-color: red;
}


#main {
    display:flex;
    justify-content: center;
}

#main > div {
    width:1200px;
    padding-top:50px;
    display:flex
}

#login {
    justify-content: center;
    align-items: center;
    height:50vh;
}

#login > div {
    display:flex;
    align-items: center;
    flex-direction: column;
    gap:5px;
}

#login > div > div {
    width:300px;
    display:flex;
    font-size:17px;
    gap:5px;
    justify-content: center;
}

button {
    font-size:17px;
    padding:3px 12px
}

#login_error{
    color:red
}